<nav class="navbar">

  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <h1 class="title">Base Camp</h1>
    </a>

    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% for item in menu.get_items %}
        {% if item.get_children %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ item.title }}
            </a>
            <div class="navbar-dropdown">
              {% for child in item.get_children %}
                <a class="navbar-item" href="{{ child.link }}">
                  {{ child.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="{{ item.link }}">
            {{ item.title }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</nav>
