<section class="social-media-share-icons">

  {# TUMBLR #}
  <a target="_blank" title="tumblr" href="https://www.tumblr.com/share/link?url={{ post.link }}&name={{ post.title }}&description={{ post.post_excerpt }}">
    <i class="fa fa-tumblr-square tumblr" aria-hidden="true"></i>
  </a>

  {# FACEBOOK #}
  <a target="_blank" title="Facebook" href="http://www.facebook.com/sharer.php?u={{ post.link }}">
    <i class="fa fa-facebook-square facebook" aria-hidden="true"></i>
  </a>

  {# LINKEDIN #}
  <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?url={{ post.link }}&title={{ post.title }}">
    <i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i>
  </a>

  {# TWITTER #}
  <a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ post.link }}&text={{ post.title }}&hashtags={{ function('implode', ',', post.tags) }}">
    <i class="fa fa-twitter-square twitter" aria-hidden="true"></i>
  </a>

  {# PINTEREST #}
  <a target="_blank" title="Pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media={{ post.thumbnail }}&url={{ post.link }}&description={{ post.title }}">
    <i class="fa fa-pinterest-square pinterest" aria-hidden="true"></i>
  </a>

  {# GOOGLE PLUS #}
  <a target="_blank" title="Google+" href="https://plus.google.com/share?url={{ post.link }}">
    <i class="fa fa-google-plus-square google-plus" aria-hidden="true"></i>
  </a>

  {# REDDIT #}
  <a target="_blank" title="Reddit" href="https://reddit.com/submit?url={{ post.link }}&title={{ post.title }}">
    <i class="fa fa-reddit-square reddit" aria-hidden="true"></i>
  </a>

</section>

<hr />
