<div id="respond" class="comment-form-wrapper">
  <form id="commentform" class="comment-form" method="post" action="{{ site.wp_link }}/wp-comments-post.php">
    {% if user %}
      <input type="hidden" name="author" value="{{ user.name }}">
      <input type="hidden" name="email" value="{{ user.email }}">
      <input type="hidden" name="url" value="{{ user.link }}">
    {% else %}

      {# Name input field #}
      <div class="field">
        <label class="label" for="author">{{ messages.comment_form.name }} <span class="required">*</span></label>
        <div class="control has-icons-left">
          <input class="input" type="text" id="author" name="author" required>
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>

      {# Email input field #}
      <div class="field">
        <label class="label" for="email">{{ messages.comment_form.email }} <span class="required">*</span></label>
        <div class="control has-icons-left">
          <input class="input" type="email" id="email" name="email" required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>

      {# Website input field #}
      <div class="field">
        <label class="label" for="url">{{ messages.comment_form.website }}</label>
        <div class="control has-icons-left">
          <input class="input" type="text" id="url" name="url">
          <span class="icon is-small is-left">
            <i class="fa fa-globe"></i>
          </span>
        </div>
      </div>
    {% endif %}

    {# Comment input field #}
    <div class="field">
      <label class="label" for="comment">{{ messages.comment_form.comment }}</label>
      <div class="control">
        <textarea
          class="textarea"
          id="comment"
          name="comment"
          placeholder="{{messages.comment_form.comment_placeholder }}"></textarea>
      </div>
    </div>

    <input name="comment_post_ID" value="{{ post.id }}" id="comment_post_ID" type="hidden">
    <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

    {# Form Buttons #}
    <div class="field is-grouped">
      <p class="control">
        <input type="submit" name="Submit" class="button is-primary" value="{{ messages.comment_form.post_comment }}"/>
      </p>
      <p class="control">
        <input type="reset" class="button is-light" value="{{ messages.comment_form.reset }}"/>
      </p>
      <p class="control">
        {{ cancel_link }}
      </p>
    </div>
  </form>
</div>
