{% extends "base.twig" %}

{% block content %}
  <article class="main-article">
    <h1 class="title is-2">{{ post.title }}</h1>
    <h5 class="subtitle is-5">
      <time class="timestamp">
        <small>{{ post.date }} {{ post.time }}</small>
      </time>
    </h5>
    {% if post.can_edit %}
      <div class="edit-post-link"><a href="{{ post.get_edit_url }}">
          <i class="fa fa-pencil" aria-hidden="true"></i> <span>{{ messages.single.edit }}</span></a>
      </div>
    {% endif %}
    <p>
      {{ post.content }}
    </p>

  </article>

  {# Social media share buttons #}
  {% include 'components/social-media.twig' %}

  <section class="comment-box">
    <div class="comments">
      {% if post.comments is not empty %}
        <h3 class="title is-3">{{ messages.single.comments }}</h3>
        {% for comment in post.comments %}
          {% include "comment.twig" %}
        {% endfor %}
      {% endif %}
    </div>

    {% if post.comment_status == "open" %}
      {% include "comment-form.twig" %}
    {% endif %}
  </section>
{% endblock %}
